table{
    border: 2px solid;
    border-collapse: collapse;
}

td{
    border: 1px solid;
    border-collapse: collapse;
}
.headerContainer{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

